#top_nav{
    background-color: #dacc00 !important;
    padding: 0 8%;
}
.navbar-dark .navbar-nav .nan-link{
    color: rgb(255, 255, 255);
    font-size: 23px;
    padding-left: 25px;
}
#searchBox{
    background-color: #fcc302;
    color: white;
    border: 0px;
    border-radius: 0;
    position: relative;
    left: 47px;
    box-shadow: 5px 10px  11px 0px rgb(34, 21, 21);
}
#searchBox{
    color: aliceblue;
}
#searchButton{
    position: relative;
    z-index: 99;
    background-color: rgb(2, 31, 31);
    color: white;
    border: 0;
    border-radius: 0;
}
@media only screen and (max-width:768px) {
    #searchfrom{
        margin-bottom: 30px;
        margin-top: 20px;
        position: relative;
        left: -20px;
    }
    
}
/* banner */
#banner{
    background-color: #fcc302;
    padding-bottom: 20px;
}
#bannertext h1{
    color: white;
    font-size: 55px;
    margin-top: 100px;
    font-family: 'Times New Roman', Times, serif;
}
#bannertext p{
    color: rgb(41, 3, 3);
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 60px;
}
#banner-btn-1{
    background-color: rgb(2, 28, 28);
    border: 2px solid aqua;
    color: white;
    cursor: pointer;
}
#banner-btn-2{
    color: antiquewhite;
    border: 2px solid white;
    margin-left: 15px;
    background-color: rgb(40, 23, 1);
}
@media only screen  and (max-width:1300px) {
    #bannertext h1{
        color: white;
        font-size: 35px;
        margin-top: 100px;
        font-family: 'Times New Roman', Times, serif;
    }
    #banner{
        padding-top: 70px;
    }
}
/* service */
#service-text{
    padding-top: 10%;
    padding-bottom: 5%;

}
#service-btn{
    color: white;
    background-color: #fcc302;
    border: 2px solid rgb(35, 45, 1);
}
#service-img{
    padding: 5%;
   /*  height: 50%;
    width: 50%; */
    cursor: pointer;
}
@media only screen  and (max-width:768px){
    #sercice-img{
        padding-top: 10%;
    }
}
/* counter section */
#counter-section{
background-image: url("../bootstrap/dog4.jpeg");
padding-top: 50px;
padding-bottom: 70px;
background-position: center;
background-size: cover;
}
.counter-icon{
    font-size: 70px;

}
@media only screen and (max-width:500px) {
    .counter-icon{
        font-size: 50px;
    
    }
    
}

/* blog */

#blog{
    padding-bottom: 70px;
    padding-top: 70px;
}
#blog-title{
    font-size: 50px;
    font-weight: bolder;
}
#blog-p{
    font-size: 20px;
    margin-bottom: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.articale-deteil{
    padding: 16px;
    border: 1px solid rgb(185 , 185,185);
    border-top: 0;
}
.articale-date , .articale-link{
    color: rgb(4, 110, 124);
}
/* footer */
#footer{
    background-color: #343434;
    padding-top: 80px;
    padding-bottom: 80px;
}
#footer a{
    color: white;
    text-decoration: none;
}
#footer-from{
    margin-top: 10px;
    margin-bottom: 10px;

}
#footer-search-box{
background-color: #dacc00;
color: white;
border: 2px solid grey;
padding: 15px;
width: 100%;
max-width: 300px;
position: relative;
left: 10px;
}
#footer-search-sumbit{
background-color: aqua;
color: white;
border: 2px solid rgb(12, 10, 0);
border-radius: 0;
padding: 15px 50px;
}
.social-icon{
    font-size: 30px;
    padding-left: 5px;
}
@media screen {
    
}